*{
    margin: 0;
    padding: 0;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;

  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  footer {
    background-color: #214360;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
  }
  .title{
    color: white;
    text-align: center;


  }
  .i1{
    position: fixed;
    bottom: 50px;
    right: 0;
    width: 50px; height: 50px;

    }
  .i2{
    position: fixed;
    bottom: 50px;
    right: 75px;
    width: 50px; height: 50px;
  }
  .i3{
    position: fixed;
    bottom: 50px;
    right: 150px;
    width: 50px; height: 50px;
  }
  body {
    background: linear-gradient(to right, rgb(2, 26, 33), rgb(9, 37, 32), rgb(23, 29, 26), rgb(17, 37, 29), rgb(209, 209, 234), rgb(139, 145, 146), rgb(221, 227, 230));

  }
     .employee-image {
      max-width: 150px;
    min-height: 200px; 
  }
  .employee-card{
    margin: 20px;
    min-height: 300px;
padding-bottom: 20px;
    
  }
  #employee-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  } 
  .employee-card {
    border: 2px solid #0c0c0c;
    border-radius: 20px;
    background-color: #6cece6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 200px;
  }
    .employee-image-container {
   border-bottom: 2px solid rgb(47, 21, 21);
   border-top: 2px solid rgb(47, 21, 21);
   border-style: 2px solid rgb(47, 21, 21);
   border-left: 2px solid rgb(47, 21, 21);
   border-right: 2px solid rgb(47, 21, 21);
   background-color: rgb(65, 216, 239);

 }
 .logo {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

  .employee-info-container {
    text-align: center;
  }
  .employee-column {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
  }
    
  .logo-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin-top: -10px;
  }
  
  